<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="./styles/style.css">

  </head>
  <body>
    <header>
      <h1>RandomForest and GradientBoosting for free</h1>
      <p>Offer you my services</p>
      
      <h2>Choose new model type</h2>
      <nav>
        <ul>
          <li><a href="RandomForest">RandomForest</a></li>
          <li><a href="GradientBoosting">Gradient boosting</a></li>
        </ul>
      </nav>
    </header>
    <main>
    </main>
  </body>
</html>